#contenedorMenu{
    display: flex;
    justify-content: flex-start;

}

header{
    background-color: #FE316B; /*rosa*/
    padding: 30px;
    position: fixed;
    width: 100%;
    z-index: 1;
}

#contenedorMenu .link{
    text-align: center;
    padding: 30px;
    color: #fff; /*morado*/
    font-weight: 900;
}

#contenedorMenu .link:hover{
    background-color: #68D9B0; /*aqua*/
}