#contenedorMenu{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FE316B; /*rosa*/
    padding: 30px;
}

#contenedorMenu .link{
    text-align: center;
    padding: 30px;
    color: #4D0276; /*morado*/
    font-weight: 900;
}

#contenedorMenu .link:hover{
    background-color: #68D9B0; /*aqua*/
}